html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* nav bar  */
.font-control {
    font-weight: bold;
}

#logo-control {
    font-size: 24px;
}

#nav-color {
    background-color: #e3f2fd;
}

.nav-control {
    margin-left: 60%;
}

#main-logo-control {
    margin-left: 5%;
}

/* end of nav bar */

/* button colors */

.button-color-primary {
    background-color: #2923af;
    border-color: #2923af;
}
.daily-button-color {
    background-color: #ebf31f;
}

/* end of button colors */


/* ------------------------------------------------------------------------- */

/* showcase image */

.image-add {
    background-image: url('../img/parking3.jpg');
}

/* showcase row */




/* end of showcase image */